main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.video-info-container {
    height: 290px;
    margin-right: 20px;
    margin-bottom: 25px;
}
.video-info-container:hover {
    cursor: pointer;
}

.thumbnail-image {
    width: 100%;
    border-radius: 14px;
}
.thumbnail-container {
    position: relative;
}
.video-duration {
    background-color: rgba(61, 61, 60, 1);
    height: 12px;
    font-weight: 500;
    border-radius: 3px;
    font-size: 11px;
    color: white;
    padding: 3px 4px 3px 4px;
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.author-profile {
    margin: 8px 10px 8px 0;
    height: 35px;
    border-radius: 45px;
}
.video-info {
    display: flex;

}
.more-about-video {
    padding-top: 10px;
    height: 20px;
    margin-left: auto;
}
.video-title {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.author-name {
    padding-bottom: 6px;
}

@media (max-width: 990px)
{
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 991px) and (max-width: 1297px)
{
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1298px)
{
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
